pkcs8: Support RFC5958-described PKCS#8 documents

[`ring`'s `pkcs8` module](https://docs.rs/ring/0.16.20/ring/pkcs8/index.html) utilises `PKCS#8` documents as described in [RFC 5958 Section 2](https://tools.ietf.org/html/rfc5958#section-2)

Currently, it's not possible to open `ring::signature::Ed25519KeyPair`-generated bytes in `pkcs8` due to this, and it's also subsequently not possible to use them in other ed25519 implementations (such as [`ed25519-dalek`](https://docs.rs/crate/ed25519-dalek/1.0.1))

@tarcieri i'm currently doing all of that and more, i'll be sending a PR which adds the `OneAsymmetricKey` type while leaving `PrivateKeyInfo` untouched, and it'll fluff up the context-aware tags a bit to make them easily parsable.

Also, see mentioned issue for a bug in `ring` i found in the process :)

Okay cool.

FYI I already added some helper methods for parsing fields with context-specific tags, and was planning on wiring that up to `der::Decoder` as well: https://github.com/RustCrypto/utils/pull/422

That is a weird bug with *ring*. It looks like it's nesting an `OCTET STRING` inside of another `OCTET STRING`.

Eyup, exactly, for the crate this is for (`ruma-signatures`) I plan to write a quick detect-and-correct shim to deal with old keys, but I wont bake `ring`'s tech debt into this crate.

I just landed #423, which should make it a lot easier to parse the `PublicKey` field(s). Namely you can do something like this now, which should be a lot less verbose than before:

```rust
while let Some(public_key) = decoder.context_specific_optional(1, |dec| dec.bit_string())? {
    ...
}
```

Oh, i made it so it is like the following;

```rust
let ret = if let Some(pubkey) =
    decoder.decode::<Option<ContextualTo1<BitString<'a>>>>()?
{
    Some(pubkey.0.as_bytes())
} else {
    None
};
```

FYI: the latest version of the `ed25519` crate has native PKCS#8 support:

https://docs.rs/ed25519/1.3.0/ed25519/pkcs8/struct.KeypairBytes.html